<div class="toolbar">
  <button
    type="button"
    class="toolbar__icon-button js-clear-deprecations-btn"
    action={{action 'clear'}}
    title="Clear"
  ></button>

  <div class="toolbar__search js-deprecations-search">
    {{input value=searchVal placeholder="Search"}}
  </div>
</div>
