<div style="height: 700px; overflow: auto">
  {{log (action 'previewLayer')}}
  {{r-component-tree
    tree=model
    previewLayer=(action 'previewLayer')
    hidePreview=(action 'hidePreview')
  }}
</div>